name: Provision Azure Infrastructure

on:
  workflow_dispatch:
    inputs:
      resourceGroup:
        description: 'Azure resource group name'
        required: true
        default: 'rg-<project>-prod'
      location:
        description: 'Azure region'
        required: true
        default: 'westeurope'
      staticWebAppName:
        description: 'Azure Static Web App name'
        required: true
      repositoryUrl:
        description: 'GitHub repository URL'
        required: true
      branch:
        description: 'Repository branch'
        required: true
        default: 'main'
      stagingEnvironmentPolicy:
        description: 'Enabled or Disabled'
        required: true
        default: 'Disabled'
      skuName:
        description: 'Free or Standard'
        required: true
        default: 'Free'

env:
  TEMPLATE_FILE: infra/main.bicep

jobs:
  provision:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Ensure resource group
        uses: azure/CLI@v2
        with:
          inlineScript: |
            az group create \
              --name "${{ github.event.inputs.resourceGroup }}" \
              --location "${{ github.event.inputs.location }}"

      - name: Validate deployment
        uses: azure/CLI@v2
        with:
          inlineScript: |
            az deployment group validate \
              --resource-group "${{ github.event.inputs.resourceGroup }}" \
              --template-file "${{ env.TEMPLATE_FILE }}" \
              --parameters \
                name='${{ github.event.inputs.staticWebAppName }}' \
                repositoryUrl='${{ github.event.inputs.repositoryUrl }}' \
                branch='${{ github.event.inputs.branch }}' \
                stagingEnvironmentPolicy='${{ github.event.inputs.stagingEnvironmentPolicy }}' \
                skuName='${{ github.event.inputs.skuName }}' \
                repositoryToken='${{ secrets.REPOSITORY_TOKEN }}'

      - name: Deploy infrastructure
        uses: azure/CLI@v2
        with:
          inlineScript: |
            az deployment group create \
              --resource-group "${{ github.event.inputs.resourceGroup }}" \
              --template-file "${{ env.TEMPLATE_FILE }}" \
              --parameters \
                name='${{ github.event.inputs.staticWebAppName }}' \
                repositoryUrl='${{ github.event.inputs.repositoryUrl }}' \
                branch='${{ github.event.inputs.branch }}' \
                stagingEnvironmentPolicy='${{ github.event.inputs.stagingEnvironmentPolicy }}' \
                skuName='${{ github.event.inputs.skuName }}' \
                repositoryToken='${{ secrets.REPOSITORY_TOKEN }}'
